Checks: '
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*include/upd/.*'
