Checks: '
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readbility-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-avoid-c-arrays'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*include/upd/.*'
